.wrap { position: relative; height: 300px; background: #f2f6fb; }
.wrap::after{
  content:"";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  height: 140px;
  background:
    radial-gradient(closest-side at 50% 100%,
      rgba(255,255,255,0) 60%, rgba(0,0,0,0.08) 100%),
    linear-gradient(180deg,#3b59a6,#3752a0);
  clip-path: ellipse(70% 100% at 50% 100%);
  pointer-events: none;
  z-index: 1;
}
.block {
  position: relative;
  height: 200px;
  background: #f2f6fb;
}

.semicircle {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 5px; /* ра.сстояние снизу */
  height: 90px;          /* размер полукруга → делай меньше/больше */
  background: #8699D3;    /* ЛЮБОЙ цвет */

  clip-path: ellipse(55% 100% at 50% 100%);
  /* первое число — ширина; второе — высота. Уменьши — будет меньший полукруг */
}


