.card {
  /* ====== размеры системы ====== */
  width: clamp(250px, 50vw, 480px);
  height: 414px;
  width: 100%;

  border-radius: 50px;
  padding: clamp(15px, 10vw, 50px);

  /* ====== параметры (переопределяются) ====== */
  --bg: linear-gradient(135deg, #B7C7FF, #8E2CFD, #FD0A62);
  --icon: url("./Pictures/Instagram_icon.png.webp");

  background: var(--bg);
  color: white;
  position: relative;
  overflow: hidden;

  display: flex;
  /* flex: none; */
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  font-family: Inter, sans-serif;
  text-transform: uppercase;

  box-shadow: inset 0 -14px 0 0 rgba(255, 255, 255, 0.5);
  z-index: 0;

  h1 {
    font-size: clamp(2rem, 3.5vw, 3em);
  }

  p {
    font-size: clamp(1rem, 2.5vw, 1.5em);
    margin-top: -10px;
  }

}

.tags {
  margin-bottom: 10px;
  font-size: clamp(1rem, 2.5vw, 1.5em);
  font-style: italic;
}


/* Заголовок  */
/* .card h1{
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 8px;
 } */

/* описание */

/* теги */
/* .card .tags{
  font-size: 12px;
  opacity: 0.85;
} */

/* .card .imageCard{
  width: 345px;
  height: 345px;
   background-color: white; 
   background: var(--icon) center / contain no-repeat; 
  background-image: var(--icon);
  background-size: fit;
  background-repeat: no-repeat;
  background-position: center;
  pointer-events: none; 
  z-index: 1;
  
  transform: translateX(240px) translateY(-6px); 
} */

/* картинка */
/* .card::after{
  content: "";
  position: absolute;
  width: 345px;
  height: 345px;
  background: var(--icon) center / contain no-repeat;
  pointer-events: none;
  
  transform: translateX(240px) translateY(-6px); 
} */

.card {
  /* transform: translateY(-50%); */
  pointer-events: none;
}

/* Responsive styles for smaller screens */
@media (max-width: 768px) {
  .card {
    height: 250px;
    padding: 20px;
  }

  .card h1  {
    font-size: 30px;
  }

  .card p {
    font-size: 14px;
  }

  .tags {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .card {
    
    height: 200px;
    padding: 15px;
  }

  .card h1 {
    font-size: 24px;
  }

  .card p{
    font-size: 12px;
  }

  .tags {
    font-size: 12px;
  }
}