.contact {
  max-width: 1120px;
  padding-top: 100px;
  padding-bottom: 50px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  /* overflow: hidden; */

  h1 {

    color: white;
    text-align: left;
    padding-top: 50px;
  }
}

.contact .namefeed {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.contactsBg {
  width: 100%;
  padding: 100px 50px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-image: url(./Pictures/contacts.svg);
  background-size: 150%;
  background-position: center 0;
  background-repeat: no-repeat;
}