/* @media (max-width: 551px) {
  .imageCard {
    display: none;
  }
} */

@media (max-width: 375px) {
  :root {
    --h1FontSize: 33px;
    --pFontSize: 21px;
  }

  ul li {
    display: none;
  }

  .contacts {
    display: none;
  }

  .top {
    padding: 10px 30px;
  }

  .burger {
    display: flex;
  }

  .form {
    width: 250px;

    h1 {
      font-size: 20px;
    }

    .choosedSection {
      h2 {
        font-size: 16px;
      }

      .items {
        p {
          font-size: 12px;
        }

      }

      .item {

        padding: 8px 13px;

        img {
          width: 22px;
          height: 22px;
        }

      }

    }

    form {}

    input {
      font-size: 12px;
      padding: 10px 15px
    }

    textarea {
      font-size: 12px;
      padding: 10px 15px;
    }

    #sendForm {
      font-size: 12px;
    }
  }

  .container-middlecard {

    .textmiddle {}

    #whowearepic {
      display: none;
    }

    #textpod {
      margin-top: 15px;
    }
  }

  .container-middlecard2 {
    padding-bottom: 100px;

    #whowearepic2 {
      display: none;
    }
  }

  .container-footercard {
    h1 {
      font-size: var(--h1FontSize);
    }

    p {
      font-size: var(--pFontSize);
    }



    .card {
      width: 100%;
      aspect-ratio: 507 / 414;

      .cardTitle {
        h1 {
          font-size: 30px;
        }

        p {
          font-size: 16px;
        }
      }
    }

    .openForm {

      padding-bottom: 50px;

      #openCartBtn {
        font-size: var(--pFontSize);

        padding: 20px 40px;
      }
    }

    .footercard-bg {

      img {
        height: fit-content;
        bottom: -410px;
      }
    }
  }

  .comments {
    .reviews-client {
      font-size: var(--h1FontSize);
    }

    .carusel {
      border-radius: 100px;
    }

    .group .comment {

      .reviewSection .review {
        p {
          font-size: 7px;
        }
      }

      .userComment {
        height: 70px;
        width: 70px;
      }

      .userCircle {
        width: 70px;
        height: 70px;
      }

      .userNameComment {
        font-size: 12px;
      }
    }
  }

  .ourcases {
    h1 {
      font-size: var(--h1FontSize);
    }

    .folders {
      .folderwork {
        width: 100%;

        .folderRec {
          border-radius: 28px;

          .ower-text {
            h1 {
              font-size: 22px;
            }
          }
        }
      }
    }

    .strokeSVG {

      img {
        width: 500%;
        right: 50wh;
        bottom: -50px;
      }
    }


  }

  .buy {
    width: 75%;
    align-items: flex-end;

    .buyFrame {
      padding: 10px;
      bottom: 50px;
    }

    img {
      width: 40px;
      height: auto;
    }
  }

  .contact {

    h1 {
      font-size: var(--h1FontSize);
    }

    p {
      font-size: 16px;
    }

    .contact-bg img {
      top: -300px;
      width: 350%;
    }
  }
}

@media (max-width: 1488px) {
  .textmiddle h1 {
    font-size: clamp(1.5em, 3.5vw, 5.5rem);
    font-weight: 900;
    color: #1f2c58;
    text-align: left;
    min-width: 30px;
  }

  .container-middlecard2 h1 {
    font-size: clamp(1.5em, 3.5vw, 5.5rem);
    font-weight: 900;
    color: #1f2c58;
    text-align: left;
    min-width: 30px;
  }


  .textmiddle p {
    font-size: clamp(1em, 2vw, 25px);
  }

  #textpod {
    font-size: clamp(1em, 2vw, 25px);
  }

  .container-middlecard2 p {
    font-size: clamp(1em, 2vw, 25px);
  }

  /* .container-footercard h1 {
        font-size: clamp(1.5em, 3.5vw, 5.5rem);
        font-weight: 900;
        color: #1f2c58;
        text-align: left;
        min-width: 30px;
    } */
}

@media (max-width: 768px) {

  /* #footercard {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  } */
  .folders {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  /* .folderwork {
    height: clamp(1em, 23em, 23em);
  } */

  .ourcases .ower-text {
    font-size: clamp(10px, 2vw, 15px);

  }

  /* .container-footercard h1 {
  padding-top: 10px;
}
#footercard {
  margin-top: 20px;
}
.footercard-bg img {
  transform: translateY(200px) translateX(-300px);
} */
  .ourcases .ower-text h1,
  p {
    color: white;
    text-align: left;
  }
}

@media (max-width: 834px) {
  .arrowMiddleCard {
    display: none;
  }
}

@media (max-width: 1054px) {
  .arrowMiddleCard {
    width: 30px;
    /* ширина родителя */
    position: relative;
    overflow: visible;
    left: -10px;
  }

  #arrow {
    width: 75px;
    height: auto;
    display: block;
    position: relative;
  }
}

/* @media (max-width: 768px) {
  .burger {
    display: block;
  }
  .burger span {
    display: block;
  }

  .top ul {
    flex-direction: column;
    row-gap: 30px;
  }

  ul li {
    display: none;
  }
  button.contacts {
    display: none;
  }
}
@media (max-width: 481px) {
  .container-middlecard,
  .container-middlecard2 {
    flex-direction: column;
    align-items: center;
  }

  #whowearepic,#whowearepic2{
    display: none;
  }
  .textmiddle2 {
    transform: translateX(0px);
  }
  #arrow {
    margin-right: 0px;
  }
} */