.ourcases {
  width: 100%;
  padding-top: 100px;

  gap: 50px;

  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.folders {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}

svg {
  fill: blue;
}

.folderwork {
  width: 400px;
  max-width: 492px;
  aspect-ratio: 492 / 395;
  background-image: url(./Pictures/folder.svg);
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  align-items: flex-end;
  align-content: end;
}

.ower-text {
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.ourcases p {
  font-size: 18px;
}

.ourcases h1 {
  text-align: center;
}

.folderRec {
  width: 100%;
  height: 80%;

  display: flex;
  align-items: flex-end;
  justify-content: center;

  overflow: hidden;


  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.16);
  border-radius: 40px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border: 1px solid rgba(255, 255, 255, 0.68);

}

.folderRec img{
  /* фон картинки */
  background-image: url(./Pictures/man.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  position: absolute;
  margin-left: 130px;
  z-index: -1;

  /* фон картинки */
  background-image: url(./Pictures/man.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  /* Mask */
  -webkit-mask-image: url('./Pictures/folderMask.png');
  /* для Chrome, Safari */
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  -webkit-mask-position: center;

  mask-mode: luminance;
  mask-image: url('./Pictures/folderMask.png'); /* для Firefox */
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: 25% center;
}

.ower-text h1 {
  font-size: 25px;
}

.ower-text h1,
p {
  color: white;
}


.ourcases .strokeSVG {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -20;
  pointer-events: none;
}

.ourcases .strokeSVG img {
  --size: 300%;

  width: var(--size);
  height: var(--size);
  transform: translateY(-700px) translateX(0px);
}